section.hotels
  .hotel#hotel-title
    h2 Nearby Hotels
  .hotel
    img.hotel-image
    .hotel-price $$
    .hotel-info
      h3 Cova Hotel
      address 655 Ellis Street
      p 4 Stars - 1118 Reviews
      p 10 Blocks Away
      button Book
  .hotel
    img.hotel-image
    .hotel-price $$
    .hotel-info
      h3 Cova Hotel
      address 655 Ellis Street
      p 4 Stars - 1118 Reviews
      p 10 Blocks Away
      button Book
  .hotel
    img.hotel-image
    .hotel-price $$
    .hotel-info
      h3 Cova Hotel
      address 655 Ellis Street
      p 4 Stars - 1118 Reviews
      p 10 Blocks Away
      button Book
  .hotel
    img.hotel-image
    .hotel-price $$
    .hotel-info
      h3 Cova Hotel
      address 655 Ellis Street
      p 4 Stars - 1118 Reviews
      p 10 Blocks Away
      button Book
  .hotel
    img.hotel-image
    .hotel-price $$
    .hotel-info
      h3 Cova Hotel
      address 655 Ellis Street
      p 4 Stars - 1118 Reviews
      p 10 Blocks Away
      button Book