script(src='//maps.googleapis.com/maps/api/js')
script(src='https://js.tito.io/v1' async)
script(src='js/map.js')

script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(src='js/hotel-hover.js')
// GA
include ./ga.jade
block scripts