// Hotels

.hotels
  padding: 0

  #hotel-title
    color: orange

  .hotel-column
    float: none
    position: relative
    display: inline-block
    &:nth-child(3n+1)
      background: $teal
    &:nth-child(3n+2)
      background: $teal-drk
    &:nth-child(3n)
      background: darken($teal,50%)
    // margin: 0.5% 0.5%

    .hotel
      background: inherit

      .hotel-panel
        position: relative
        background: inherit

        .hotel-image
          width: 100%
          height: auto

        .hotel-price
          padding: 1% 2%
          text-align: center
          position: absolute
          background: inherit
          font-weight: bold
          color: white
          top: 45%
          opacity: 0.8

      .hotel-info
        text-align: left
        background: inherit
        color: white
        margin: 15px

        p, address
          margin-bottom: 0px

        .left, .right
          width: 50%
          display: inline-block

        .left h3
          margin-bottom: 22px

        .directions, .contact
          margin-top: 5px
          margin-bottom: 5px

        .fa
          color: white
          margin-right: 3px

        a
          color: white

        button
          display: none

  // .hotel:hover
  //   opacity: 0
  //   z-index: -1

  // .tiles
  //   position: absolute
  //   color: white
  //   background: gray
  //   top: 0
  //   left: 0
  //   width: 100%
  //   height: 100%

  //   .tile
  //     opacity: 1
  //     width: 50%
  //     height: 50%
  //     border: 1px solid white

  //   .hotel-tile
  //     background: yellow

  //   .phone-tile
  //     background: orange
  //     border: 1px solid white

  //   .map-tile
  //     background: blue
  //     border: 1px solid white

  //   .email-tile
  //     background: green
  //     border: 1px solid white

// Single Column
  @media screen and (max-width: $small-width)
    .hotel-column
      width: 100%

// Three columns
  @media screen and (min-width: $small-width + 1px)
    #hotel-title
    .hotel-column
      width: 33.33%