// Hotels

.hotels
  background: orange
  text-align: left

  #hotel-title
    color: orange

  .hotel
    background-color: white
    float: none
    display: inline-block

    .hotel-price
      width: 30px
      text-align: center
      margin: 2px
      padding: 5px
      border: 1px solid blue

    .hotel-info
      color: blue

// Single Column

  @media screen and (max-width: $small-width)
    .hotel
      width: 50%

// Three columns
  @media screen and (min-width: $small-width + 1px)
    #hotel-title
    .hotel
      width: 33%