// Hotels

.hotels
  background: orange
  text-align: left
  padding: 5px
  border: 2px dashed green

  #hotel-title
    color: orange

  .hotel
    background-color: white
    float: none
    display: inline-block
    border: 1px solid purple
    margin: 2px

    .hotel-price
      width: 30px
      text-align: center
      margin: 2px
      padding: 5px
      border: 1px solid blue

    .hotel-info
      color: blue
      border: 1px solid purple

  @media screen and (max-width: $small-width)
    .hotel
      width: 50%

  @media screen and (min-width: $small-width + 1px)
    #hotel-title
    .hotel
      width: 33%
